@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --close: #f7768e;
  --minimize: #e0af68;
  --maximize: #9ece6a;
  --muted: lab(9.47796% -1.69584 -6.93499);
  --border: lab(12.9615% -1.76476 -6.95769);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-mono1: var(--font-fira-code);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-close {
  background-color: var(--close);
}

.bg-minimize {
  background-color: var(--minimize);
}

.bg-maximize {
  background-color: var(--maximize);
}

.bg-muted {
  background-color: var(--muted);
}

.border-border {
  border-color: var(--border);
}